* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.game {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
    background-color: aqua;
}

